---
import { getCollection } from "astro:content";
import WhispersListItem from "./WhisperListItem.astro";

const whispers = (await getCollection("whispers"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<div class="column-container">
  {
    whispers.map(({ data, body, id }) => (
      <WhispersListItem
        author={data.author}
        text={body}
        link={`/whispers/${id}`}
      />
    ))
  }
</div>

<style>
  .column-container {
    gap: var(--gap-md);
  }
</style>
