---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = pathname !== '/' && (href === pathname || href === '/' + (subpath?.[0] || ''));
---

<a href={href} class:list={[className, { active: isActive }, 'text-body']} {...props}>
  <div class="link-container nav-control">
    <slot />
  </div>
</a>
<style>
	a.active {
		color: var(--color-primary);
    font-weight: 600;
	}

  a:hover {
    text-decoration: none !important;
  }

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: var(--corner-md);
    padding: var(--gap-xs) var(--gap-sm);
  }

  @media screen and (max-width: 1024px) {
    .link-container {
      width: 100%;
      padding: var(--gap-lg);
      box-sizing: border-box;

      border-radius: 0;
    }
  }
</style>
