---
import BaseLayout from "../../layouts/BaseLayout.astro";

---
<BaseLayout>
  <main class="column-container width-constrained-container">
    <h1 class="text-section-title">Recent Diary Entries</h1>
    <section>
      <div class="diary-entries text-item-title">
        🚧 Work In Progress ... 🚧
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  @import "../../styles/typography.css";
  @import "../../styles/spacing.css";
  @import "../../styles/layout.css";

  .column-container {
    padding: 0 var(--gap-lg);
    gap: var(--gap-lg);
  }

  .diary-entries {
    display: grid;
    width: 100%;
  }
</style>
