---

---
<div x-data
  @click="openDrawer()"
  class="hide-on-desktop hamburger"
  aria-label="Toggle menu"
>
  <span class="line"></span>
</div>
<script>
import Alpine from "alpinejs";

  //@ts-ignore
  window.openDrawer = function() {
    const drawer = document.querySelector('.drawer');
    if(drawer) {
      drawer.classList.add('drawer-open');
      Alpine.store('drawer', true);
      setTimeout(() => {
        drawer.classList.remove('drawer-open');
      }, 300);
    }
  }
</script>
<style>
  /* Show hamburger on mobile */
  @media (max-width: 1024px) {
    .hamburger {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: var(--gap-lg);
      width: 100%;

      max-width: 4rem;
      max-height: 4rem;
      min-height: 3rem;
      min-width: 3rem;
      aspect-ratio: 1;
      box-sizing: border-box;
    }

    .hamburger::before, .hamburger::after, .line {
      content: "";
      display: block;
      width: 100%;
      height: min(5px, 1vh);
      background-color: var(--color-primary);
      border-radius: var(--corner-sm);
    }
  }
</style>
