@import './theme.css';

.post-item-divider {
    border: none;
    width: 100%;
    height: 1px;
    background-color: var(--color-thread);
}

.width-constrained-container {
    max-width: 800px;
    margin: 0;
    padding: 0;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.thread-glow-card {
  border: 1px solid var(--color-thread);
  border-radius: 0.75rem;
  padding: 1rem;
}

.hollow-tag-badge {
  color: var(--color-primary);
  border-radius: 999px;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
    .width-constrained-container {
        max-width: unset;
    }
}
