---
import PostList from "../components/home-page/PostList.astro";
import ProjectList from "../components/home-page/ProjectList.astro";
import WhisperList from "../components/home-page/WhisperList.astro";
import SectionContainer from "../components/home-page/SectionContainer.astro";

import HeroCard from "../components/home-page/HeroCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export interface Post {
  id: string,
  collection: string,
  data: {
    title: string;
    description: string;
    pubDate: Date;
    heroImage?: string | ImageMetadata;
    tags?: string[];
    draft?: boolean
  }
}

function getTopByDateReversed(posts: Post[]) {
  return posts
    .filter((post) => post.data.draft !== true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3)
}

function getTopPosts(posts: Post[]) {
  return getTopByDateReversed(posts)
    .map((post) => ({
      title: post.data.title,
      date: post.data.pubDate.toISOString().split('T')[0],
      subtitle: post.data.description,
      link: `./${post.collection}/${post.id}`,
    }));
}

const blogs = getTopPosts(await getCollection("blogs"));

const diaries = getTopPosts(await getCollection("diaries"));

---

<BaseLayout>
  <main class="width-constrained-container column-container wrapper">
    <HeroCard />
    <hr />

    <div class="content-container">
      <div class="column-container content-list">
        <SectionContainer title="Tech Blog" linkText="All posts" link="./blogs">
          <PostList posts={blogs} />
        </SectionContainer>

        <SectionContainer title="Diary" linkText="Archive" link="./diaries">
          <PostList posts={diaries} />
        </SectionContainer>

        <SectionContainer title="Whispers" linkText="Archive" link="./whispers">
          <WhisperList />
        </SectionContainer>

        <SectionContainer title="Projects" linkText="All projects" link="./projects">
          <ProjectList />
        </SectionContainer>
      </div>
    </div>
  </main>
</BaseLayout>
<style>
  .wrapper {
    gap: var(--gap-lg);
  }

  .content-list {
    gap: var(--gap-xl);
  }

  .content-container {
    padding: var(--gap-lg);
  }
</style>
