---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Privacy Policy of this Website and Simple Analytics"
  description="Read about the privacy practices and policies of Ferry To's personal website."
>
  <div class="width-constrained-container column-container">
    <h1 class="text-page-title">Privacy Policy</h1>
    <hr />
    <section class="text-content">
      <p>
        This site uses <a href="https://simpleanalytics.com" target="_blank" rel="noopener noreferrer">Simple Analytics</a>.
        You can view the privacy policy <a href="https://simpleanalytics.com/privacy" target="_blank" rel="noopener noreferrer">here</a>.
      </p>
    </section>
  </div>
</BaseLayout>
