---
import FerryAvatar from "../assets/photos/ferry-avatar-octocat_512.png";
import { Image } from "astro:assets";
---
<div class="avatar-container">
  <Image src={FerryAvatar} alt="Avatar of Ferry" class="avatar" />
</div>

<style>
  .avatar-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .avatar {
    max-width: 256px;
    max-height: 256px;
    min-width: 128px;
    aspect-ratio: 1;
  }
</style>
