---
import FullAstroLogo from "../assets/logos/astro-full.svg";
import FullAlpineLogo from "../assets/logos/alpine-full.svg";
import { Image } from "astro:assets";
const today = new Date();
---
<footer>
  <div>
    &copy; {today.getFullYear()} Ferry To & <a
      href="https://verdantsparks.io"
      target="_blank">VerdantSparks</a
    >&trade;
    <span class="line-break">All rights reserved.</span>
  </div>
  <div class="powered-by">
    Powered by
    <a href="https://astro.build" target="_blank">
      <Image alt="Logo of Astro" src={FullAstroLogo} />
    </a>
    <a href="https://alpinejs.dev" target="_blank">
      <Image alt="Logo of AlpineJS" src={FullAlpineLogo} />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    color: rgb(var(--gray));
    text-align: center;
  }
  .powered-by {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;k
    white-space: nowrap; /* stop line-wrapping */
    gap: 0.5rem;
    margin-top: 10px;
  }

  .powered-by a img {
    max-height: 35px;
    height: 100%;
    width: 100%;
  }

  @media (max-width: 430px) {
    .line-break {
      display: block;
      margin-top: 0.5em;
    }
  }
</style>
