---
import WidthConstrainedContainer from "./WidthConstrainedContainer.astro";

const today = new Date();
const year = today.getFullYear();
---
<footer>
  <WidthConstrainedContainer>
    <div class="footer-content text-meta">
      <div>Made with ❤️ by Ferry To</div>
      <div>
        Powered by
        <a href="https://astro.build" target="_blank">Astro</a> &
        <a href="https://alpinejs.dev" target="_blank">Alpine.Js</a>
      </div>
      <div>
        &copy; {year}
        <a href="https://verdantsparks.io" target="_blank" class="link-accent">VerdantSparks</a>&trade;
        All rights reserved.
      </div>
    </div>
  </WidthConstrainedContainer>
</footer>

<style>
  @import "../styles/spacing.css";
  @import "../styles/typography.css";
  @import "../styles/effect.css";
  @import "../styles/theme.css";

	footer {
    width: 100%;

    background-color: var(--color-surface);
    border-top: 1px solid color-mix(in srgb, var(--color-thread) 50%, var(--color-bg) 50%);
    padding: var(--gap-lg);

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

	.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

	}

  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-lg);
    }
  }
</style>
