---

---

<button class="hamburger btn-reset btn-interactive" x-on:click="open = !open" aria-label="Toggle menu">
    <span class="line pad"></span>
    <span class="line"></span>
    <span class="line pad"></span>
</button>

<style>
    .hamburger {
        display: none;
    }
    
	/* Show hamburger on mobile */
	@media (max-width: 719px) {
        .hamburger {
            display: flex;
            z-index: 1000;
            padding: var(--space-sm);
            flex-direction: column;
            min-width: var(--header-height);
            min-height: var(--header-height);
            /* Ensure perfect vertical alignment */
            align-self: center;
            margin: auto 0;            
		}

        .hamburger .line {
            display: block;
            width: 38px;
            height: 3.8px;
            background-color: var(--accent-dark);
            border-radius: var(--radius-xs);
        }
    
        .hamburger .pad {
            margin-top: var(--space-sm); 
            margin-bottom: var(--space-sm);
        }
	}
</style>