---
import HeaderLink from './HeaderLink.astro';
import Hamburger from './Hamburger.astro';
import DrawerMenu from './DrawerMenu.astro';
---

<header class="texture-overlay flex-center" x-data="{ 
	open: false
}">
	<nav class="flex-center margin-auto">
		<Hamburger />
		<div class="nav-links flex-between padding-x-lg">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/whispers">Whispers</HeaderLink>
			<HeaderLink href="/tags">Tags</HeaderLink>
			<HeaderLink href="/blog" class="hidden">Whispers</HeaderLink>
			<HeaderLink href="/projects" class="hidden">Projects</HeaderLink>
		</div>
	</nav>
	<DrawerMenu />
</header>
<style>
	header {		
		box-sizing: border-box;
		background: var(--white);
		border-bottom: 1px solid var(--black-opacity-10);
		box-shadow: var(--shadow-sm);
		position: sticky;
		top: 0;
		z-index: var(--z-sticky);
		height: var(--header-height);
		max-height: var(--header-height);
		overflow: hidden;
	}

	nav {
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.nav-links {
		width: 100%;
		max-width: 720px;
	}

	/* Mobile-first: Hide nav-links on small screens */
	@media (max-width: 719px) {
		header {
			box-sizing: border-box;
			height: var(--header-height);
			max-height: var(--header-height);
			overflow: hidden;
		}
		
		nav {
			justify-content: start;
		}

		.nav-links {
			display: none;
		}
	}
</style>
