---
import ColumnContainer from "./ColumnContainer.astro";

export interface Props {
  title: string;
  date: string;
  subtitle: string;
  link: string;
}

const { title, date, subtitle, link } = Astro.props;
---

<div class="post-list-item surface-background-hover">
  <ColumnContainer gap="sm">
    <div class="row">
      <span class="text-meta">{date}</span>
      <a href={link}>
        <h3 class="text-item-title">{title}</h3>
      </a>
    </div>
    <div class="row">
      <h4 class="text-item-subtitle">{subtitle}</h4>
    </div>
  </ColumnContainer>
</div>

<style>
  @import "../styles/typography.css";
  @import "../styles/spacing.css";
  @import "../styles/effect.css";

  .post-list-item {
    padding: var(--gap-sm) 0;
  }

  .row {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 100%;
    gap: var(--gap-md);
  }
</style>
