---
export interface Props {
  title: string;
  date: string;
  subtitle: string;
  link: string;
}

const { title, date, subtitle, link } = Astro.props;
---

<div class="column-container post-list-item">
  <div class="row">
    <span class="text-meta">{date}</span>
    <a href={link}>
      <h3 class="text-item-title">{title}</h3>
    </a>
  </div>
  <div class="row">
    <h4 class="text-item-subtitle">{subtitle}</h4>
  </div>
</div>

<style>
  @import "../styles/components.css";
  @import "../styles/typography.css";
  @import "../styles/spacing.css";

  .post-list-item {
    gap: var(--gap-small);
  }

  .row {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 100%;
    gap: var(--gap-medium);
  }
</style>
