---
import BaseCard from "./BaseCard.astro";
import ColumnContainer from "./ColumnContainer.astro";
import ItemTitleLink from "./ItemTitleLink.astro";
import TagRow from "./TagRow.astro";

export interface Props {
  name: string;
  description: string;
  link: string;
  lastUpdated?: string;
  tags: string[];
}
const { name, description, link, tags } = Astro.props;
---

<BaseCard border="thread" padding="md">
  <ColumnContainer gap="sm">
    <div class="title-row">
      <ItemTitleLink title={name} link={link} />
      <TagRow tags={tags} />
    </div>
    <h4 class="text-item-subtitle">{description}</h4>
  </ColumnContainer>
</BaseCard>

<style>
  @import "../styles/components.css";
  @import "../styles/typography.css";
  @import "../styles/effect.css";

  .title-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
