---
import ProjectListItem from './ProjectListItem.astro';

export interface Project {
  name: string;
  description: string;
  link: string;
  lastUpdated?: string;
  tags: string[];
}

export interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="column-container project-list">
  {
    projects.map(({ name, description, link, tags }) => (
      <ProjectListItem name={name} description={description} link={link} tags={tags} />
    ))
  }
</div>

<style>
  @import "../styles/components.css";
  @import "../styles/typography.css";

  .project-list {
    gap: var(--gap-sm);
  }
</style>
