---
export interface Props {
  author: string;
  text: string;
  link: string;
}
const { author, text, link } = Astro.props;
---

<a href={link}>
  <div class="container surface-background-hover">
    <h4 class="text-quote truncated">"{text}" - {author}</h4>
  </div>
</a>

<style>
  @import "../styles/typography.css";
  @import "../styles/effect.css";

  .container {
    padding-left: var(--gap-md);
    border-left: var(--gap-xs) solid var(--color-primary);
    margin: 0 var(--gap-sm);
  }
</style>
