---
import QuoteListItem from './QuoteListItem.astro';

export interface Quote {
    author: string,
    text: string,
    link: string
}

export interface Props {
  quotes: Quote[];
}

const { quotes } = Astro.props
---
<div class="column-container">
    {quotes.map(({ author, text, link }) => (
    <QuoteListItem author={author} text={text} link={link} />
    ))}
</div>
<style>
  @import "../styles/components.css";
</style>
