---
import { Image } from "astro:assets";

const { url, alt, src } = Astro.props;
---
<style>
	.container {
		/* aspect-ratio: 16:9; */
		width: calc(33.333% - var(--space-sm));
		min-width: 180px;
		max-width: 180px;
		max-height: 68px;
		align-content: center;
		justify-content: center;
		
		padding: var(--space-sm);
	}

	.container img:hover {
		filter: drop-shadow(var(--shadow));
	}

	.container:focus {
		outline: 2px solid var(--color-primary);
		outline-offset: 2px;
	}

	.container img {
		width: 100%;
		object-fit: contain;
		transition: filter 0.18s linear;
	}

	@media (max-width: 768px) {
		.container {
			width: calc(50% - var(--space-lg));
			min-width: unset;
		}
	}
</style>
<div class="container">
    <a href={url} target="_blank">
        <Image alt={alt} src={src} />
    </a>
</div>