---
export interface Props {
  tag: string;
}
const { tag } = Astro.props;
---

<div class="hollow-tag-badge">
  <span class="text-badge">{tag}</span>
</div>

<style>
  @import "../styles/typography.css";

  .hollow-tag-badge {
    color: var(--color-primary);
    border-radius: 999px;
    padding: var(--gap-xs) var(--gap-sm);
    border: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
