---
import TagPill from "./TagPill.astro";
export interface Props {
  parent?: string;
  tags: string[];
}
const { tags, parent } = Astro.props;
---

<div class="tags-container">
  {
    tags.map((tag) => (
        <TagPill tag={tag} parent={parent} />
    ))
  }
</div>

<style>
  .tags-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-sm);
  }
</style>
