---
import TagPill from "./TagPill.astro";
export interface Props {
  linkPrefix?: string;
  tags: string[];
}
const { tags, linkPrefix } = Astro.props;
---

<div class="tags-container">
  {
    tags.map((tag) => (
        <TagPill tag={tag} linkPrefix={linkPrefix} />
    ))
  }
</div>

<style>
  @import "../styles/theme.css";
  @import "../styles/spacing.css";
  .tags-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-sm);
  }
</style>
